.centerLoading {
  position: fixed;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center !important;
  -moz-box-pack: center;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  background-color: #FA8072 !important;
}
.loading-spinner {
  margin: size("0") auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FA8072 !important;
  &.-overlay {
    position: absolute;
    margin: size("0");
    top: size("0");
    left: size("0");
    right: size("0");
    bottom: size("0");
    z-index: 25;
    background: #FFFFFF;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  & > div > div {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 8.5rem;
    height: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    span {
      position: absolute;
      display: flex;
      left: 6px;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #1E90FF;
      animation-name: spinner-animation;
      animation-duration: 2.8s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }

    .circle-yellow {
      background: #FFD700;
      animation-delay: -2s;
    }

    .circle-orange {
      background: #FFA500;
      animation-delay: -1.6s;
    }

    .circle-red {
      background: #FF4500;
      animation-delay: -1.2s;
    }

    .circle-green {
      background: #6B8E23;
      animation-delay: -0.8s;
    }

    .circle-turquoise {
      background: #48D1CC;
      animation-delay: -0.4s;
    }

    .circle-blue {
      background: #4169E1;
    }

    .circle-purple {
      background: #6A5ACD;
      animation-delay: 0.4s;
    }
  }

  p {
    text-align: center;
    color: #cccccc;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
}

@keyframes spinner-animation {
  0%,
  100% {
    transform: scale(0) translate(0, 0);
  }

  14% {
    transform: scale(0.8);
  }

  28% {
    transform: translate(160%, 0) scale(1.15);
  }

  43% {
    transform: translate(320%, 0) scale(1);
  }

  57% {
    transform: translate(480%, 0) scale(1.15);
  }

  71% {
    transform: translate(640%, 0) scale(0.8);
  }

  86% {
    transform: translate(640%, 0) scale(0);
  }
}
